.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba (255,255,255,0.3);
    z-index:9999;
}

.nav-bar {
display: flex;
align-items: center;
justify-content: space-between;
height: 90px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 15px;
}

.nav-menu .nav-link {
    color: var (--color-white);
    font-size: 20 px;
    font-weight: 500;

    transition: all 0.2s ease;
}

.nav-menu .nav-link:hover {
    color: var(--color-primary);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
}